/* 

Project Name: Brook & Lyn
Client: Brook & Lyn
Author: Chris Castiglione & Brian Hurewitz
Developed @ General Assembly in NYC

*/


/* Global Styles */

body {
	background: #F3EBE9;
	font-size: 14px; 
	line-height: 1.6; 
	font-family:"Times New Roman", serif; 
	color:#656565;
}

h1 {
	font-size:40px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	font-size: 32px;	
}

p  {
	margin: 0 0 20px 0px;
}

a {
	color:#999;
	text-decoration:none;
}

	a:hover {
		color:#20222a;
	}



/* Sections */

#container {
	width: 960px;
	margin: 0 auto 0 auto;
	background: #FFF;
	padding: 20px;
}

#mainbanner img {
	border: 5px #CCC solid;
}

#maincontent {
	background: #FFF;
}
	#maincontent a {
		color: #1783bb;
	}
	#maincontent a:hover {
		color: #000;
	}

#press {
	background: #FFF;
}

#footer {
	padding: 15px;
	text-align: right;
	background: #FFF;
}



/* Press */

.presslogo {
	display: inline;
}

	.presslogo img {
		border: 5px #CCC solid;
		padding: 1px;
	}
	.presslogo img:hover {
		border: 5px #656565 solid;
	}