/*----------------------------------------------------------------------------- 
GENERAL 
-----------------------------------------------------------------------------*/

body, html {
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	color:#ccc;
	font-size:17px;
}

header {
	background: #000;
	height: 80px;	
}

/*----------------------------------------------------------------------------- 
NAVIGATION 
-----------------------------------------------------------------------------*/

nav ul li {
	float:left;
}

nav ul li a {
	display:block;
	height: 49px;
	color:#ccc;
	padding: 30px 18px 0 18px;
	text-decoration: none;
}

nav ul li a:hover {
	background:url(../images/bg_nav_rollover.png) repeat-x;
	color:#FFF;
}